<%- include("../partials/header") %>

<div class="container">
    <% if(currentUser && currentUser.isAdmin) { %>
        <h1 class="admin text-center">Admin Account</h1>
    <% } %>
    <div class="row">
        <div class="col-md-3">
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail mb-3 p-0">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    <h4><%= campground.name %></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <% if(!currentUser){ %>                     
                            <em>Submitted By: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                        <% } else { %>
                            <em>Submitted By: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                        <% } %>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card card-body bg-light">
                <div>
                    <% if(currentUser) { %>
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success float-right">Add New Comment</a>
                    <% } %>
                    <h3>Comments: </h3>
                </div>
                <hr>
                <% campground.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <% if(!currentUser){ %>                     
                                <strong><%= comment.author.username %></strong>
                            <% } else { %>
                                <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong>                            
                            <% } %>
                            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
            <p class="mt-5 text-center">
                <a class="btn btn-lg btn-dark" href="/campgrounds">View Campgrounds</a>
            </p>
        </div>
    </div>

</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GMAPKEY %>&callback=initMap"
async defer></script>

<%- include("../partials/footer") %>